body {
    font-family: 'Open Sans', sans-serif;
    color: black;
    margin: 40px 320px 200px 250px;
    width: 475px;
    line-height: 175%;
    background-color: Ivory;
    background-image: url('https://courses.ics.hawaii.edu/ics314f24/morea/ui-basics/page.gif');
    background-repeat: no-repeat;
  }

  #navbar ul {
    list-style-type: none;
    padding: 0;
    line-height: 350%;
    font-size: 30px;
    font-weight: bold;
  }

  #navbar li {
    display: inline;
  }

  #navbar a {
    margin-left: 75px;
    margin-right: 75px;
  }

  h1, h2 {
    font-family: 'Oswald', sans-serif;
  }

  img {
    float: center; margin: 0px 0px 10px 150px;
    margin-right: 10px;
  }

  .left {
    float: left;
    width: 300px;
    padding: 1em;
  }

  .right {
    float: right;
    width: 300px;
    padding: 1em;
  }

  .center {
    margin-left: 300px;
    margin-right: 300px;
    padding: 0.5em
  }

  h1.fancy {
    font-family: Edwardian Script ITC; 
    font-size: 50pt; 
    text-align: center;
    line-height: 135%;
}

h2.chapter {
    font-size: 30pt;
    text-align: center;
}

a.left {
    float: left;
    font-weight: bold;
}

a.right {
    float: right;
    font-weight: bold;
}
